# Python Data Analysis Practice - 2024/01/20

## 4-1 ) 통계를 이용하여 데이터 요약하기

In [2]:
import gdown
gdown.download('https://bit.ly/3736JW1', 'ns_book6.csv', quiet = False)

Downloading...
From: https://bit.ly/3736JW1
To: /content/ns_book6.csv
100%|██████████| 55.0M/55.0M [00:00<00:00, 70.6MB/s]

'ns_book6.csv'

In [3]:
import pandas as pd
ns_book6 = pd.read_csv('ns_book6.csv', low_memory = False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [4]:
ns_book6.describe()

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [5]:
sum(ns_book6['도서권수']==0)

3206

In [7]:
ns_book7 = ns_book6[ns_book6['도서권수']>0]
ns_book7.describe(percentiles=[0.3,0.6,0.9])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [8]:
ns_book7.describe(include = 'object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

평균

In [10]:
x = [10,20,30]
sum = 0
for i in range(3):
  sum+=x[i]
print("평균: ", sum/len(x))

평균:  20.0

In [13]:
# 범위 기반 for문을 이용해서 돌릴 경우

x = [10,20,30]
sum = 0
for i in x:
  sum+=i
print("평균: ", sum/len(x))

평균:  20.0

In [14]:
ns_book7['대출건수'].mean()

11.593438968070707

중앙값

In [15]:
ns_book7['대출건수'].median()

6.0

In [16]:
temp_df = pd.DataFrame([1,2,3,4])
temp_df.median()

0    2.5
dtype: float64

In [17]:
ns_book7['대출건수'].drop_duplicates().median()

183.0

최댓값과 최솟값

In [19]:
ns_book7['대출건수'].min() # 0
ns_book7['대출건수'].max()

1765

분위수

In [23]:
ns_book7['대출건수'].quantile([0.25, 0.5, 0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [28]:
pd.Series([1,2,3,4,5]).quantile(0.9) # 보간을 이용하여 (interpolation 매개변수를 이용) 중간 값을 계산! - 따로 지정한 게 없기 때문에 4.6이라고 나옴
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='midpoint') # 4.5 분위수 상관없이 두 수의 중앙값.
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='nearest') # 5 두 수중 가장 가까운 값
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='lower') # 4 두 수중 작은 값
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='higher') # 5 두 수중 큰 값

5

In [30]:
borrow_10_flag = ns_book7['대출건수'] < 10
borrow_10_flag.mean()

0.6402712530190833

In [31]:
ns_book7['대출건수'].quantile(0.65)

10.0

분산과 표준편차

In [32]:
ns_book7['대출건수'].var()

371.69563042906674

In [33]:
ns_book7['대출건수'].std()

19.279409493785508

In [34]:
# 수식을 코드로 구현한 표준편차

import numpy as np
diff = ns_book7['대출건수'] - ns_book7['대출건수'].mean()
np.sqrt(np.sum(diff**2)/(len(ns_book7)-1))

19.279409493785508

최빈값

In [36]:
ns_book7['도서명'].mode() # 승정원일기
ns_book7['발행년도'].mode()

0    2012.0
Name: 발행년도, dtype: float64

In [37]:
ns_book7.mean(numeric_only = True)

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [39]:
ns_book7.loc[:, '도서명':].mode() #도서명과 출판사는 관계가 없다! 각 값에서 가장 많이 나온 최빈값을 보여줌

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,승정원일기,세종대왕기념사업회 [편],문학동네,2012.0,9788937430299,9788937460005,0,1,813.6,1,0,1970-01-01

In [40]:
ns_book7.to_csv('ns_book7.csv', index = False)

## numpy의 기술통계 함수

평균

In [41]:
import numpy as np
np.mean(ns_book7['대출건수'])

11.593438968070707

In [42]:
np.average(ns_book7['대출건수'], weights = 1/ns_book7['도서권수']) # weight를 이용해서 가중치를 넣고 가중평균을 계산

10.543612175385386

In [43]:
np.mean(ns_book7['대출건수']/ns_book7['도서권수'])

9.873029861445774

In [44]:
ns_book7['대출건수'].sum()/ns_book7['도서권수'].sum()

10.120503701300958

중앙값, 최대/최소, 분위수

In [45]:
np.median(ns_book7['대출건수']) # 중앙값

6.0

In [46]:
np.min(ns_book7['대출건수']) # 0 - 최솟값
np.max(ns_book7['대출건수']) # 최댓값

1765

In [50]:
np.quantile(ns_book7['대출건수'], [0.25,0.5,0.75]) # 분위수 구하기
np.percentile(ns_book7['대출건수'], [25, 50, 75]) # 분위수 구하기 - %가 단위이므로 0~100까지 범위

array([ 2.,  6., 14.])

분산, 표준편차, 최빈값

In [54]:
np.var(ns_book7['대출건수']) # 371.6946438971496 : pandas와 다르게 표본집단을 이용해서 구한다. n-1 자유도를 적용하기 때문.
ns_book7['대출건수'].var(ddof = 0) # 371.6946438971496 : pandas - 분산, 분모가 n
np.var(ns_book7['대출건수'], ddof = 1) # numpy - 표본분산. 분모가 n-1

371.69563042906674

In [55]:
np.std(ns_book7['대출건수']) # 표준편차 ddof를 이용해서 표본표준편차를 구할 수 있다.

19.27938390865096

In [57]:
values, counts = np.unique(ns_book7['도서명'], return_counts = True)
max_idx = np.argmax(counts)
values[max_idx]

'승정원일기'